<h2>Coffe Beans Details</h2>
<a href="/">HOME</a>
<a href="/beans">Go Back</a>
<ul>
  {{#each beanCafes}}
    <li>
      <p>Name: {{name}}</p>
      <p>Origin: {{origin}}</p>
      <p>Farmer: {{farmer}}</p>
      <p>Flavor: Profile {{flavorProfile}}</p>
      <p>Cafes: {{cafes}}</p>
      <p>Image: {{image}}</p>
    </li>
  {{/each}}
</ul>
<a href="/login">
  <h2>Log In</h2>
</a>
<a href="/signup">
  <h2>Sign Up</h2>
</a>