<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-beansdetails">

    <a class="navbar-btn" href="/beans"> Go back </a>
    <a class="navbar-btn" href="/auth/login"> Login </a>
    <a class="navbar-btn" href="/auth/signup"> Sign Up </a>
  </div>
</nav>

<h2>Coffee Beans Details</h2>

<ul>
  <li>
    <p>Name: {{bean.name}}</p>
    <p>Origin: {{bean.origin}}</p>
    <p>Flavor profile: {{bean.flavorProfile}}</p>
    <p>Cafe: {{cafe.name}}</p>
    <img src="{{bean.image}}" width="300px"/>
  </li>
</ul>
