<h2>Coffe Beans Details</h2>
<a href="/beans">Go Back</a>
<ul>
  {{#each beanCafes}}
    <li>
      <p>Name: {{name}}</p>
      <p>Origin: {{origin}}</p>
      <p>Flavor: Profile {{flavorProfile}}</p>
      <p>Cafes: {{cafes}}</p>
      <p>Image: {{image}}</p>
    </li>
  {{/each}}
</ul>
<a href="/home">HOME</a>
<a href="/login"> Log In </a>
<a href="/signup"> Sign Up </a>