<h2>Coffe Beans Details</h2>
<a href="/beans">Go Back</a>
<ul>
  <li>
    <p>Name: {{bean.name}}</p>
    <p>Origin: {{bean.origin}}</p>
    <p>Flavor profile: {{bean.flavorProfile}}</p>
    <p>Cafe: {{cafe.name}}</p>
    <img src="{{bean.image}}" />
  </li>
</ul>
