<div class="beans-container">
    <div class="beans-card">
        <ul class="bean-text">
          <li class="beans-li">
            <h1 class="bean-card-title">{{bean.name}}</h1>
            <img src="{{bean.image}}" width="200px" />
            <p class="bean-origin-details">{{bean.origin}}</p>
            <p class="bean-flavor-details">{{bean.flavorProfile}}</p>
            {{#each bean.cafe}}
              <p class="bean-cafe-details">Cafe: <a href="/cafes/cafe-details/{{id}}">{{name}} </a></p>
            {{/each}}
          </li>
        </ul>
      </div></div></div>
</div>
