<div class="other-bkgrnd">
  
  <p>
  {{#each listCafes}}
  <div class="container">
<div class="card card0">
    <ul class="ul-card">
   <h2><a class="cafe-card-title" href = "/cafes/cafe-details/{{id}}">{{name}} </h2>
   <img src="{{imgUrl}}" class="cafe-img"/></a>
     <h4 align="center">{{address}}</h4>
  
     <form action="/users/favorites/{{id}}" method="POST">
        <button class="heart-btn" type="submit">
            <img src="/images/heart1.png" width="30px" />
        </button>
      </form>
    </ul>
  </div>
 </div>
    
  
  {{/each}} 
</p>