<div class="container">
  <div class="card card1">
      <ul>
        <li class="cafe-details-card">
        <p class="cafe-card-title">{{cafe.name}}</p>
        <img class="cafe-img" src="{{cafe.imgUrl}}" />
        <p class="cafe-address" align="center">{{cafe.address}}</p>
        <p class="cafe-price">{{cafe.priceLevel}}</p>
        <p>Beans used: </p>
          {{#each cafe.beans}}
    <a href="/beans/bean-details/{{id}}">{{name}} </a>      
  </div>
    {{/each}}
</div>

    <form class="form" action="/cafes/cafe-review/{{cafe._id}}" method="POST">
     <div class="fields">
      <label class="form-label" for="name-input">Username:</label>
      <input
        class="form-input"
        type="text"
        name="user"
        id="user-input"
      />
      </div>
        <div class="fields">
      <label class="form-label" for="review-input">Review:</label>
      <textarea
        class="form-input"
        name="comment"
        id="review-input"
      ></textarea>
    </div>
      <button class="submit-button" type="submit"> Leave a Review </button>
    </form>
   <div class="reviews">
    {{#each reviews}}
    <br>
      <span><span class="bold">Username: </span>{{user}} </span>
      <br>

      <span><span class="bold"> Review:  </span>{{comment}}</span>
      <br>
    {{/each}}
    </div>
  </li>

</ul>


</div>