<div class="other-bkgrnd">

 <div class="container">
<div class="card card1">
   <div class="border">
<div class="cafe-card">
<ul>
  <li>
    
    <p class="cafe-card-title">{{cafe.name}}</p>
    <img class="cafe-img" src="{{cafe.imgUrl}}" />
    <p>{{cafe.address}}</p>
    <p>Price level: {{cafe.priceLevel}}</p>
    <p>Beans used: </p>
    <!-- <form action="/users/favorites/{{id}}" method="POST">
      <button class="heart-btn"><img src="/images/heartlogo.jpeg" width="30px"/></button>
   
      </form>-->


    {{#each cafe.beans}}
      <div>
    <a href="/beans/bean-details/{{id}}">{{name}} </a>      </div>
    {{/each}}

</div></div></div></div>

<<<<<<< HEAD
=======
   
>>>>>>> main
    <form class="form" action="/cafes/cafe-review/{{cafe._id}}" method="POST">
     <div class="fields">
      <label class="form-label" for="name-input">Username:</label>
      <input
        class="form-input"
        type="text"
        name="user"
        id="user-input"
<<<<<<< HEAD
=======
   
>>>>>>> main
      />
      </div>
        <div class="fields">
      <label class="form-label" for="review-input">Review:</label>
      <textarea
        class="form-input"
        name="comment"
        id="review-input"
<<<<<<< HEAD
=======
 
>>>>>>> main
      ></textarea>
</div>
      <button class="submit-button" type="submit"> add a review </button>
    </form>
   <div class="reviews">
    {{#each reviews}}
    <br>
      <span><span class="bold">Username: </span>{{user}} </span>
      <br>

      <span><span class="bold"> Review:  </span>{{comment}}</span>
      <br>
    {{/each}}
    </div>
  </li>

</ul>


</div>