<div class="other-bkgrnd">

 <div class="container">
<div class="card card1">
   <div class="border">
<div class="cafe-card">
<ul>
  <li>
    
    <p>{{cafe.name}}</p>
    <img class="cafe-img" src="{{cafe.imgUrl}}" />
    <p>{{cafe.address}}</p>
    <p>Price level: {{cafe.priceLevel}}</p>
    <p>Beans used: </p>
    <!-- <form action="/users/favorites/{{id}}" method="POST">
      <button class="heart-btn"><img src="/images/heartlogo.jpeg" width="30px"/></button>
   
      </form>-->


    {{#each cafe.beans}}
      <div>
        <h3>{{name}}</h3>
        <img src="{{image}}" width="300px" />
      </div>
    {{/each}}

</div></div></div></div>

    <p>Leave a review:</p>
    <form action="/cafes/cafe-review/{{cafe._id}}" method="POST">
      <label class="form-label" for="name-input">Username:</label>
      <input
        class="form-input"
        type="text"
        name="user"
        id="user-input"
        placeholder="Username"
      />
      <label class="form-label" for="review-input">Review:</label>
      <textarea
        class="form-input"
        name="comment"
        id="review-input"
        placeholder="Your review"
      ></textarea>

      <button type="submit"> add a review </button>
    </form>
   
    {{#each reviews}}
      {{user}}
      {{comment}}
    {{/each}}
  </li>

</ul>


</div>