<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-beansdetails">

    <a class="navbar-btn" href="/cafes"> Go back </a>
    <a class="navbar-btn" href="/auth/login"> Login </a>
    <a class="navbar-btn" href="/auth/signup"> Sign Up </a>
  </div>
</nav>

<h2>Cafe Details</h2>
<a href="/cafes/add-cafe">Add a New Cafe!</a>

<ul>
  <li>
    <p>Name: {{cafe.name}}</p>
    <img src="{{cafe.image}}" width="250px" />
    <p>Address: {{cafe.address}}</p>
    <p>Price level: {{cafe.priceLevel}}</p>
    <p>Beans used: </p>

    {{#each cafe.beans}}
      <div>
        <h3>{{name}}</h3>
        <img src="{{image}}" width="300px" />
      </div>

    {{/each}}

    <p>Leave a review:</p>
    <form action="/cafes/cafe-review/{{cafe._id}}" method="POST">
      <label class="form-label" for="name-input">Username:</label>
      <input
        class="form-input"
        type="text"
        name="user"
        id="user-input"
        placeholder="Username"
      />
      <label class="form-label" for="review-input">Review:</label>
      <textarea
        class="form-input"
        name="comment"
        id="review-input"
        placeholder="Your review"
      ></textarea>

      <button type="submit"> add a review </button>
    </form>
    <img src="{{cafe.image}}" />
    {{#each reviews}}
      {{user}}
      {{comment}}
    {{/each}}
  </li>

</ul>
