<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-addcafe">

    <a class="navbar-btn" href="/users/profile"> Profile</a>
  </div>
</nav>

<h1>{{userPopulated.username}}My favorites</h1>
    {{#each userPopulated.favorites}}

    {{name}}
    {{address}}
    <img src="{{image}}"/>
    {{/each}}


{{#if userPopulated.favorites}}
{{#each favorites }}

  <ul>
      <li>
        <p>Name: {{name}}</p>
        <p>Address: {{address}}</p>
        <p>Price level: {{priceLevel}}</p>
        <img src="{{image}}" />
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>There are no favorites</p>
{{/if}}


<a href="/users/profile/{{user._id}}">My profile</a>
<a href="/cafes">Cafes</a>
<a href="/home">HOME</a>