
     <div class="border">
  <h1 class="cafe-card-title">My Favorite Cafes</h1>
  {{#if userPopulated.favorites}}
    {{#each userPopulated.favorites}}
    <div class="container">
        <div class="card card0">
                <ul class="ul-card">
   <h2><a class="cafe-card-title" href = "/cafes/cafe-details/{{id}}">{{name}} </h2>
   <br>
          <img class="cafe-img" src="{{this.imgUrl}}" /></a>
          <br>
          <p align="center">{{this.address}}</p>
          <br>
          <p align="center">{{this.priceLevel}}</p>
          <br>
        <form action="/users/{{_id}}/delete" method="POST">
        <button class="navbar-btn" type="submit">Remove</button>
      </form>
        </li>
        </ul>
        </div>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
  <p>There are no favorites</p>
{{/if}}
</div>
</div>