

<h1>My favorite Cafes</h1>

<div class="container">
   <div class="border">
{{#if userPopulated.favorites}}
  {{#each userPopulated.favorites}}
  <div class="card card0">

      <ul>
        <li>
          <p class="bean-card-title">{{this.name}}</p>
          <img class="bean-img" src="{{this.imgUrl}}" />
          <p align="center">{{this.address}}</p>
          <p align="center">{{this.priceLevel}}</p>
        
        </li>
      </ul>
    </div>
     <form action="/users/{{_id}}/delete" method="POST">
        <button class="navbar-btn" type="submit">Remove</button>
      </form>
    {{/each}}
  </div>
</div>

{{else}}
  <p>There are no favorites</p>
{{/if}}


