<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-addcafe">

    <a class="navbar-btn" href="/users/profile"> Profile</a>
  </div>
</nav>

<h1>{{userPopulated.username}}My favorites</h1>

{{#if userPopulated.favorites}}
  {{#each userPopulated.favorites}}

    <ul>
      <li>
        <p>Name: {{this.name}}</p>
        <p>Address: {{this.address}}</p>
        <p>Price level: {{this.priceLevel}}</p>
        <img src="{{this.imgUrl}}" />
      </li>
    </ul>

    <form action="/users/{{_id}}/delete" method="POST">
      <button type="submit">Delete cafe</button>
    </form>
  {{/each}}

{{else}}
  <p>There are no favorites</p>
{{/if}}

<a href="/users/profile/{{user._id}}">My profile</a>
<a href="/cafes">Cafes</a>
<a href="/home">HOME</a>