
  <h1 class="fav-card-title">My Favorite Cafes</h1>


{{#if userPopulated.favorites}}
  {{#each userPopulated.favorites}}
  <div class="container">
   <div class="border-fav">
  <div class="card-favorites">

      <ul>
        <li class="fav-li">
          <p class="bean-card-title">{{this.name}}</p>
          <img class="bean-img" src="{{this.imgUrl}}" />
          <p class="fav-address" align="center">{{this.address}}</p>
          <p class="fav-price"  align="center">{{this.priceLevel}}</p>
        
        </li>
      </ul>
    </div>
     <form action="/users/{{_id}}/delete" method="POST">
        <button class="submit-button" type="submit">Remove</button>
      </form>
        </div>
</div>
    {{/each}}


{{else}}
  <p>There are no favorites</p>
{{/if}}
</div>
