<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

   
  </div>
</nav>

<h1>Profile</h1>

{{username}}

<form action="/auth/logout" method="GET">
  <button type="submit">Logout</button>
</form>
<article>
  <img src="{{user.image}}" alt="user image" />
  <p><b>Name:</b> {{user.name}}</p>
  <a href="/users/profile/{{user._id}}/edit">Edit</a>
  <a href="/users/favorites{{user.id}}">Favorites {{favorites}}</a>
</article>
